<p>
  form works! ibusdgfbiusufsudfgudfsggodfsgnofgnodfsno
</p>

<div class="bg-primary narrow-padded-section">
		<h2 class="text-center text-invert" >Create a New Farm</h2>
	  </div>
	  
	  
	  
	  <div class="row narrow-padded-section">
		<div class="medium-8 columns medium-centered">
	  
	  
	  
		<div class="card overlap-section">
	  
	  
			<div class="columns medium-11 medium-centered card-section narrow-padded-section">
	  
				<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
	  
					  <h5>Farm Name</h5>
					  
					  <div>
						  <input type="text" name="name" ngModel>
					  </div>
					  
					  <fieldset ngModelGroup="address">
						  <h5>Address</h5>
						  <!--<div>
							  <input type="text" placeholder="Apt #" name="address.number" ngModel>
						  </div>-->
						  <div>
							  <input type="text" placeholder="Address 1" name="line1" ngModel>
						  </div>
						  <div>
							  <input type="text" placeholder="Address 2" name="line2" ngModel>
						  </div>
	  
	  
						  <div class="row">
	  
							  <div class="columns small-5">
								  <input type="text" placeholder="city" name="city" ngModel>
							  </div>
							  <div class="columns small-4">
	  
								  <select name="state" ngModel required>
								  <option value="" disabled selected>State</option>
								  <option *ngFor="let state of states" [value]="state">{{state}}</option>
								  </select>
							  </div>
	  
							  <div class="columns small-3">
								  <input type="number" placeholder="zip code" name="zip" ngModel>
							  </div>
						  </div>
					  </fieldset>
	  
				  <br> 
				  <button type="submit" class="button large">Submit</button> <br>
				</form>
			  
		  </div>
	  </div>
	  </div>
	  </div>
	  